{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ article.author.name }}" />
    <meta name="description" content="{{ article.summary|striptags }}" />
    <meta name="keywords" content="{{ article.tags|join(', ') }}">
    {% include "partial/og_tags.html" %}
{% endblock %}

{% block content %}

    <div class="fh5co-narrow-content article-content">
        <h1 class="fh5co-heading-colored">{{ article.title }}</h1>

        <div>{{ _('by') }}
            {% for author in article.authors %}
                <a href="{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %} - {{ article.locale_date }}
        </div>

        {% if article.tags %}
            <div><span>Tags: </span>
                {% for tag in article.tags %}
                    <span><a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a> </span>
                {% endfor %}
            </div>
        {% endif %}

        <div class="animate-box" data-animate-effect="fadeInLeft">
            <p class="animate-box" data-animate-effect="fadeInLeft">{{ article.content }}</p>
            
            {% if article.photo_gallery %}
                <div class="gallery">
                    {% for title, gallery in article.photo_gallery %}
                        <h1>{{ title }}</h1>
                            {% for name, photo, thumb, exif, caption in gallery %}
                                    <a href="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}"><img src="{{ SITEURL }}/{{ thumb }}"></a>
                            {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        <p class="animate-box" data-animate-effect="fadeInLeft">
            
            <ul>
             {% if article.prev_article %}
                 <li> Billet précédent : 
                     <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
                         {{ article.prev_article.title }}
                     </a>
                 </li>
             {% endif %}
             {% if article.next_article %}
                 <li> Billet suivant : 
                     <a href="{{ SITEURL }}/{{ article.next_article.url}}">
                         {{ article.next_article.title }}
                     </a>
                 </li>
             {% endif %}
            </ul>
        </p>
        </div>
    </div>

 

    {% include 'partial/disqus.html' %}

{% endblock %}
